.repoInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
}

.title {
  margin-right: auto;
  padding: 5px 0;
}

.descriptionWrapper {
  display: grid;
  grid-template-columns: max-content 2fr;
  gap: 5px 15px;
  justify-items: start;
  align-items: end;
}

.subtitle {
  font-size: var(--font-size-h3);
  font-weight: normal;
  align-self: start;
  color: var(--foreground);
}

.button {
  width: auto;
}