.card {
  width: 100%;
  position: relative;
  height: 150px;
  color: var(--text);
  text-align: start;
  background-color: var(--background);
  
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.5s ease forwards;
  
  @for $i from 1 through 10 {
    &:nth-child(#{$i}) {
      animation-delay: $i * 0.1s;
    }
  }
}

.cardButton {
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  text-align: start;

  &.isFavorite {
    background-color: var(--accent-90);
  }
}

.title {
  font-size: var(--font-size-h2);

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.owner {
  color: var(--foreground);
}

.description {
  font-size: var(--font-size-main);
  height: 32px;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.wrapperButtonsBottom {
  display: flex;
  gap: 10px;
  padding: 10px 0 0;
  margin-right: auto;

  position: absolute;
  bottom: 10px;
  left: 10px;
}

.button {
  display: flex;
  gap: 5px;
  font-size: var(--font-size-main);
  align-items: center;
  z-index: 100;
}

.wrapperButtonsTop {
  position: absolute;
  top: 5px;
  right: 5px;
}

.lang {
  color: var(--accent);
  font-weight: bold;
  margin-left: auto;
  min-height: 20px;
  line-height: 20px;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}