.repoList {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  gap: 10px;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

.item {
  width: 100%;
}

.message {
  width: 100%;
  text-align: center;
  height: 20px;
  font-size: var(--font-size-h2);
}

.wrapperRepo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.list {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-items: center;
  align-content: start;
  height: 100%;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }

  @media (min-width: 1280px) {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
  }
}

[data-rbd-droppable-id] {
  min-height: 100px;
  position: relative;
}

[data-rbd-draggable-id] {
  user-select: none;
}
