.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;

  &:first-of-type::after {
    content: "";
    right: -10px;
    top: 0;
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: var(--border-color);
  }
}

.message {
  width: 100%;
  text-align: center;
  height: 20px;
  font-size: var(--font-size-h2);
}

.wrapperRepo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.repoList {
  list-style: none;
  width: 100%;
  display: grid;
  gap: 10px;
  justify-items: center;

  @media (min-width: 768px) {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }
}
