.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--accent-90);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  //  opacity: 0;
  //  transition: opacity 0.3s;
  visibility: hidden;

  scale: 0;
  transition: scale 1s ease-in-out;

  &.visible {
    //    opacity: 1;
    scale: 1;
    visibility: visible;
  }
}

.modalContent {
  background: var(--background);
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  border: var(--border-width) solid var(--border-color);
  //  transform: translateY(-20px);
  //  transition: transform 0.3s;
  //
  //  &.visible {
  //    transform: translateY(0);
  //  }
}

.button {
  width: 24px;
  height: 24px;
}
