.app {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: var(--max-width);
  width: 100%;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-bottom: var(--border-width) var(--border-color) solid;
  align-items: center;

  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "search title";
  }
  
  @media (min-width: 1280px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px;

  @media (min-width: 576px) {
    justify-content: center;
  }

  @media (min-width: 1024px) {
    justify-content: flex-start;
    gap: 10px;
  }
}

.title {
  font-size: var(--font-size-h1);
  padding: 10px;
  grid-area: title;
  justify-self: center;
  order: 2;
}

.wrapper {
  display: grid;
  width: 100%;
  gap: 20px;
  grid-template-columns: repeat(2, minmax(150px, 1fr));
  height: 100%;
  position: relative;
  padding: 0 20px;
  justify-items: center;

  @media (min-width: 1024px) {
    grid-template-columns: 3fr 1fr;
  }

  @media (min-width: 1280px) {
    padding: 0;
  }
}

.footer {
  padding: 20px;
  border-top: var(--border-width) var(--border-color) solid;
}
