.label {
  width: 100%;
  display: flex;
  border-radius: var(--border-radius);
  position: relative;
}

.input {
  height: 20px;
  width: 100%;
  background: transparent;
  border: var(--border-width) transparent solid;
  color: var(--text);
  padding: 0 5px;

  &:focus {
    width: 100%;
    outline: none;
    border-bottom: var(--border-width) var(--border-color) solid;
  }

  &::placeholder {
    color: var(--border-color);
  }
}
